body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #0c6980
}




.two-button-head, .navbar-brand, .navbar-nav li a {
    color: #0c6980;
}

  #twobutton {
    color: black;
    background-color: #F7EDDE;
    border-radius: 40px;
    box-sizing: border-box;
  }

