<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignLingual</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css')}}">
</head>
<body>

  <nav class="navbar navbar-expand-sm bg-light sticky-top" id="#navbarNav">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-ear-fill" viewBox="0 0 16 16">
          <path d="M8.5 0A5.5 5.5 0 0 0 3 5.5v7.047a3.453 3.453 0 0 0 6.687 1.212l.51-1.363a4.6 4.6 0 0 1 .67-1.197l2.008-2.581A5.34 5.34 0 0 0 8.66 0zM7 5.5v2.695q.168-.09.332-.192c.327-.208.577-.44.72-.727a.5.5 0 1 1 .895.448c-.256.513-.673.865-1.079 1.123A9 9 0 0 1 7 9.313V11.5a.5.5 0 0 1-1 0v-6a2.5 2.5 0 0 1 5 0V6a.5.5 0 0 1-1 0v-.5a1.5 1.5 0 1 0-3 0"/>
        </svg>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="toggle">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
            <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
          </svg>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="order1">
    <h1 class="display-1 text-center text-white pt-5 poppins-thin" id="main-head">SignLingual</h1>
    <h4 class="pt-3 pb-5 text-center text-white rubik">Enhancing communication through AI powered sign language translation.</h4>

   <div class="container-fluid" id="main-whitebox">
     <div class="welcimg">
       <img src="static/welcomesl.png" alt="" class="img-fluid" id="welcomeimg">
     </div>


     <div class="container text-center mx-0" id="whitebox">
       <p class="text-center pt-2 poppins-thin" id="whitebox-text">Embark on a journey of limitless communication with our pioneering AI translation website, transcending linguistic boundaries to unveil the intricate beauty of sign language. </p>
       <p class="text-center pt-2 poppins-thin" id="whitebox-text"> Redefine the way you connect, champion inclusivity, and embrace the profound depth of every gesture and expression, fostering a world of empathy and understanding.</p>

       <div class="container text-center my-4">
        <a href="{{ url_for('speechtosign') }}">
          <button type="button" class="btn btn-secondary text-center px-3" id="s2sbutt">Speech To Sign</button>
        </a>
         
         <button type="button" class="btn btn-secondary text-center px-3" id="s2sbutt" >Sign To Speech</button>
       </div>

     </div>
   </div>
   <div class="secondpart">
   <div class="second">
    <h1 class="introtitle">Breaking Barriers: Introducing Our Real-Time Sign Language Translation Solution</h1>
    <p class="introductiontext">
      At SignLingual, we're proud to announce the launch of our groundbreaking real-time sign language translator software!. By bridging the gap between spoken language and sign language, we empower organizations to provide unparalleled access and inclusivity to the Deaf community.

For millions of Deaf individuals, sign language is their primary means of communication. However, traditional methods of communication often fail to accommodate their needs, leaving them feeling excluded and isolated.
</p>
<p class="comein" style="font-style: bold;">That's where we come in.</p>
<p class="introductiontext2 ">
    Our cutting-edge artificial intelligence technology leverages state-of-the-art algorithms to seamlessly translate spoken or written content into sign language in real time.

    </p>
   </div>
  </div>

   <!-- <img src="static/a.jpg" alt="" class="img-fluid"> -->

    <!-- <footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
      <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
        <div class="row">
          <p >SignLingual</p>
          <div class="col-6 col-lg-2 offset-lg-1 mb-3">
            <h5>Links</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="/">Home</a></li>
              <li class="mb-2"><a href="/docs/5.3/">Docs</a></li>
              <li class="mb-2"><a href="/docs/5.3/examples/">Examples</a></li>
              <li class="mb-2"><a href="https://icons.getbootstrap.com/">Icons</a></li>
              <li class="mb-2"><a href="https://themes.getbootstrap.com/">Themes</a></li>
              <li class="mb-2"><a href="https://blog.getbootstrap.com/">Blog</a></li>
              <li class="mb-2"><a href="https://cottonbureau.com/people/bootstrap" target="_blank" rel="noopener">Swag Store</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
            <h5>Guides</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="/docs/5.3/getting-started/">Getting started</a></li>
              <li class="mb-2"><a href="/docs/5.3/examples/starter-template/">Starter template</a></li>
              <li class="mb-2"><a href="/docs/5.3/getting-started/webpack/">Webpack</a></li>
              <li class="mb-2"><a href="/docs/5.3/getting-started/parcel/">Parcel</a></li>
              <li class="mb-2"><a href="/docs/5.3/getting-started/vite/">Vite</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
            <h5>Projects</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="https://github.com/twbs/bootstrap" target="_blank" rel="noopener">Bootstrap 5</a></li>
              <li class="mb-2"><a href="https://github.com/twbs/bootstrap/tree/v4-dev" target="_blank" rel="noopener">Bootstrap 4</a></li>
              <li class="mb-2"><a href="https://github.com/twbs/icons" target="_blank" rel="noopener">Icons</a></li>
              <li class="mb-2"><a href="https://github.com/twbs/rfs" target="_blank" rel="noopener">RFS</a></li>
              <li class="mb-2"><a href="https://github.com/twbs/examples/" target="_blank" rel="noopener">Examples repo</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
            <h5>Community</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="https://github.com/twbs/bootstrap/issues" target="_blank" rel="noopener">Issues</a></li>
              <li class="mb-2"><a href="https://github.com/twbs/bootstrap/discussions" target="_blank" rel="noopener">Discussions</a></li>
              <li class="mb-2"><a href="https://github.com/sponsors/twbs" target="_blank" rel="noopener">Corporate sponsors</a></li>
              <li class="mb-2"><a href="https://opencollective.com/bootstrap" target="_blank" rel="noopener">Open Collective</a></li>
              <li class="mb-2"><a href="https://stackoverflow.com/questions/tagged/bootstrap-5" target="_blank" rel="noopener">Stack Overflow</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer> -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>